body {
    font-family: sans-serif;
}
h1, h2, h3 { 
    color: #210774;
    border-bottom: 1px solid #76A1DA;
}
h1 {
    font-size: 1.8em;
}
h2 { 
    font-size: 1.3em; 
}
h3 {
    font-size: 1.2em;
}
a {
    color: #004065;
}
a:hover {
    color: #76a1da;
}

th {
    margin: 0.167em 0.67em 0.167em 0.67em;
    color: #210774;
    font-size: 1.2em;
}

td {
    padding: 0.167em 0.67em 0.167em 0.33em;
}

td ul {
    margin: 0;
    padding: 0 0 0 1.67em;
}
td ul li {
    margin: 0;
    padding: 0.167em 0;
}
